* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 5%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
}

h3 {
    color: #939fab;
    font-weight: 600;
}

form {
    margin-top: 2rem;
}

.footer-text {
    text-align: center;
    font-size: 17px;
    margin-top: 10%;

    a {
        text-decoration: none;
        font-weight: 600;
        color: #eb445a;
    }
}

ion-button {
    --box-shadow: none;
    --border-radius: 10px;
    --background: linear-gradient(90deg, #eb445a 0%, #cf3c4f 100%);
    height: 48px;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.5rem;
    text-transform: initial;
}

.form-field {
    position: relative;
    margin-bottom: 2rem;
    height: 50px;

    .file-input {
        display: none;
    }

    .file-label {
        display: block;
        /* Cambiado a block para que ocupe todo el ancho disponible */
        width: 100%;
        /* Asegura que ocupe el mismo largo que los otros inputs */
        background-color: #f0f0f0;
        color: black;
        padding: 13px 20px;
        /* Ajusta el padding para coincidir con la altura de tus ion-input */
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #dcdcdc;
        text-align: left;
        /* Asegura que el texto esté alineado como en los ion-input */
        box-sizing: border-box;
        /* Asegura que el padding no aumente el tamaño más allá del 100% */
    }

    .custom-file-input {
        display: block;
        width: 100%;
        background-color: #f0f0f0;
        color: black;
        padding: 13px 20px;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #dcdcdc;
        text-align: left;
        box-sizing: border-box;
    }

    .icon-spacing {
        margin-right: 8px;
        /* Ajusta el valor según tus necesidades */
    }

    .text-spacing {
        margin-left: 8px;
        /* Ajusta el valor según tus necesidades */
    }

    ion-item {
        --background: #121212;
        /* O el color de fondo que prefieras */
        --border-color: #5e5e5e;
        /* O el color de borde que prefieras */
        --border-style: solid;
        --border-width: 1px;
        --border-radius: 4px;
    }

    ion-item[slot="end"] {
        --icon-color: #999;
        /* O el color que prefieras para el icono */
        --icon-font-size: 1rem;
        /* O el tamaño que prefieras para el icono */
    }
}

.center-content {
    display: flex;
    justify-content: center;
}

.avatar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}