<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let element of products; let i = index">
    <ion-item>
      <ion-label>
        <ion-avatar>
          <ion-img [src]="element.product.image"></ion-img>
        </ion-avatar>
      </ion-label>
      <ion-label>
        <h2>{{element.product.name}}</h2>
        <h3>{{element.product.description}}</h3>
        <ion-input [(ngModel)]="element.quantity" label="Cantidad" fill="outline" labelPlacement="floating" type="number"></ion-input>
        <ion-button [disabled]="element.product.stock < element.quantity || element.quantity == 0 || element.quantity == null || element.quantity < 0" (click)="addToCart(element)">Agregar</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>