<ion-content class="ion-padding">
  <h1>Hola</h1>
  <h3>Inicia sesión para continuar!</h3>

  <ion-img src="../../../assets/login/login_logo.png"></ion-img>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-field">
      <ion-input errorText="Email no válido" fill="outline" formControlName="email" label="Email"
        labelPlacement="floating" placeholder="ejemplo@dominio.com" type="email"></ion-input>
    </div>
    <div class="form-field">
      <ion-item>
        <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" label="Contraseña" labelPlacement="floating"></ion-input>
        <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePassword()"></ion-icon>
      </ion-item>
    </div>
    <!-- TODO: AGREGAR UN OLVIDASTE TU CONTRASEÑA -->
    <ion-button expand='block' type="submit" color="primary" [disabled]="loginForm.invalid">Ingresar</ion-button>
  </form>
  <div class="footer-text">
    ¿Aún no tienes cuenta?, <a routerLink="/register">¡Registrate Aquí!</a>
  </div>
</ion-content>